{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <h3 class="navbar-brand text-success">Github Web Hook</h3>
        <form action="/users/logout">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
        </form>
    </nav>

    <div class="jumbotron mt-5">
      <h3>Authorize App To Link Github Account</h3>
      <hr class="my-4">
      <p>By clicking the Link Github Account button you will be asked to authorize this app to access your github account.</p>
      <p class="lead">
        <form action="/git">
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Link Github Account <i class="fa fa-github"></i></button>
        </form>
      </p>
    </div>
{% endblock %}

